/*  */
:root {
	--main-bg-color: rgb(61, 79, 93);
	--post-font-size: 20px;
}

html, body {
	height: 100%;
}

body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #888;
	line-height: 30px;
}

strong {
	font-weight: 500;
}

a, a:hover, a:focus {
	color: #19b9e7;
	text-decoration: none;
	-o-transition: all .3s;
	-moz-transition: all .3s;
	-webkit-transition: all .3s;
	-ms-transition: all .3s;
	transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
	font-weight: 100;
	line-height: 50px;
}

h3 {
	font-size: 22px;
	font-weight: 300;
	color: #555;
	line-height: 30px;
}

img {
	max-width: 100%;
	height: 100%;
	object-fit: fill;
}

::-moz-selection {
	background: #19b9e7;
	color: #fff;
	text-shadow: none;
}

.bg-eee {
	background-color: #eee;
}

::selection {
	background: rgba(0, 123, 255, .5);
	color: #fff;
	text-shadow: none;
}

.btn-link-1 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 16px 20px 0 20px;
	background: #19b9e7;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
	color: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active {
	outline: 0;
	opacity: 0.6;
	color: #fff;
}

.btn-link-1.btn-link-1-facebook {
	background: #4862a3;
}

.btn-link-1.btn-link-1-twitter {
	background: #55acee;
}

.btn-link-1.btn-link-1-google-plus {
	background: #dd4b39;
}

.btn-link-1 i {
	padding-right: 5px;
	vertical-align: middle;
	font-size: 20px;
	line-height: 20px;
}

.btn-link-2 {
	display: inline-block;
	height: 50px;
	margin: 5px;
	padding: 15px 20px 0 20px;
	background: rgba(0, 0, 0, 0.3);
	border: 1px solid #fff;
	font-size: 16px;
	font-weight: 300;
	line-height: 16px;
	color: #fff;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.btn-link-2:hover, .btn-link-2:focus, .btn-link-2:active, .btn-link-2:active:focus
	{
	outline: 0;
	opacity: 0.6;
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
}

/***** Top content *****/
.inner-bg {
	padding: 60px 0 80px 0;
}

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description a:hover, .top-content .description a:focus {
	border-bottom: 1px dotted #19b9e7;
}

.form-box {
	margin-top: 70px;
}

.form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #f3f3f3;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
	text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 {
	margin-top: 0;
}

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 66px;
	color: #ddd;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
	padding: 25px 25px 30px 25px;
	background: #eee;
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bottom form textarea {
	height: 100px;
}

.form-bottom form button.btn {
	width: 100%;
}

.form-bottom form .input-error {
	border-color: #19b9e7;
}

.social-login {
	margin-top: 35px;
}

.social-login-buttons {
	margin-top: 25px;
}

.middle-border {
	min-height: 300px;
	margin-top: 170px;
	border-right: 1px solid #ddd;
}

/***** Footer *****/
footer {
	padding-bottom: 70px;
}

footer .footer-border {
	width: 200px;
	margin: 0 auto;
	padding-bottom: 30px;
	border-top: 1px solid #ddd;
}

footer a:hover, footer a:focus {
	border-bottom: 1px dotted #19b9e7;
}

/***** Media queries *****/
@media ( min-width : 992px) and (max-width: 1199px) {
}

@media ( min-width : 768px) and (max-width: 991px) {
}

@media ( max-width : 767px) {
	.middle-border {
		min-height: auto;
		margin: 65px 30px 0 30px;
		border-right: 0;
		border-top: 1px solid #ddd;
	}
}

@media ( max-width : 415px) {
	h1, h2 {
		font-size: 32px;
	}
}

.m-auto {
	margin: auto;
}

.text-medium {
	font-size: 20px;
}

.color-main {
	background-color: var(--main-bg-color) !important;
}

.text-main {
	color: var(--main-bg-color);
}

.w-80 {
	width: 80% !important;
}

.btn-nobg-light {
	background: none !important;
	border: none !important;
	border-radius: 0;
}

.btn-nobg-light:hover {
	background-color: white !important;
	color: rgba(0, 123, 255, .5) !important;
}

.hpx-50 {
	height: 50px;
}

.hpx-70 {
	height: 70px;
}
	
.hpx-500 {
	height: 500px;
}

.hpx-350 {
	height: 350px !important;
}

.hpx-100 {
	height: 100px;
}

.wpx-70 {
	width: 70px;
}

.wpx-100 {
	width: 100px;
}

.wpx-200 {
	width: 200px;
}

label {
	color: red;
	margin: 0 5px;
}

.hidden-center-container {
	position: absolute;
	top: 40%;
	left: 20%;
	background-color: white;
	display: none;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px
		rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}

.hidden {
	display: none;
}

.position-right {
	position: absolute;
	right: 0;
}

.position-relative {
	position: relative;
}

.flow-hidden {
	overflow: hidden;
}

button.btn:hover {
	opacity: 1 !important;
}

.avatar {
	width: 100px;
	height: 100px;
	border-radius: 50% !important;
	overflow: hidden;
}

.avatar-small {
	width: 60px;
	height: 60px;
	border-radius: 50% !important;
	overflow: hidden;
}

.pointer {
	cursor: pointer;
}

a[data-toggle="collapse"] {
	position: relative;
}

.dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

@media ( max-width : 768px) {
	#sidebar {
		margin-left: -250px;
	}
	#sidebar .sidebar-active {
		margin-left: 0;
	}
}

p {
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: #999;
}

a, a:hover, a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

#sidebar {
	background-color: var(--main-bg-color);
	min-width: 300px;
	max-width: 300px;
	height: 100vh;
	color: #fff;
	transition: all 0.3s;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
}

.wrapper {
	display: block;
}

.sidebar-active {
	margin-left: -300px !important;
}

#sidebar ul li a {
	color: #fff;
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a:hover {
	color: var(--main-bg-color);
	background: #fff;
}

#sidebar ul li.sidebar-active>a, a[aria-expanded="true"] {
	color: #fff;
}

ul ul a {
	font-size: 0.9em !important;
	padding-left: 30px !important;
}

.overlay {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 998;
	transition: all 0.5s ease-in-out;
}

.active-overlay {
	display: block !important;
	opacity: .2;
}

.border-bottom-dashed {
	border-bottom: 1px dashed white;
}

.thumb-medium {
	height: 100px;
	background-color: var(--main-bg-color);
	color: white;
	font-size: 1rem;
}

.thumb-medium:hover {
	color: var(--main-bg-color);
	background-color: white;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px 
		rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.4);
}

.thumb-medium:nth-of-type(even) {
	background-color: #3b4c58;
}

.thumb-medium:nth-of-type(even):hover {
	background-color: white;
	color: #3b4c58;
}

.noborder {
	border: none;
}

.btn-blank {
	color: white;
	border: none;
	border-radius: none;
	background-color: transparent;
	cursor: pointer;
	transition: all .3s; 
}

.btn-blank-main {
	color: var(--main-bg-color);
	background-color: white;
	cursor: pointer;
}

.btn-blank:hover {
	color: var(--main-bg-color);
	background-color: white;
}

.parallax {
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.panel-header {
	text-transform: uppercase;
    color: #aaa;
    border-bottom: 1px solid #eee;
    padding: 0.4rem 0;
    margin : 0.4rem 0;
    font-size: 80%;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.post {
	padding: 1rem 0;
	position: relative;
	border-bottom: 1px solid #eee;
}

.post-footer {
	margin: 0.5rem 0;
}

.post-img {
	float: left;
	height: 350px;
	z-index: 998;
}

.img-overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.5);
	z-index: 999;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
}

.sidebar-body {
	overflow: auto;
}

.tags {
	color: white;
	padding: .5rem !important;
	border-radius: 10px;
	cursor: pointer;
}

.text-size-post {
	font-size: var(--post-font-size);
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--main-bg-color); 
}

.comments-container {
	display: none;
}

.comments {
	width : 100%;
	min-height: 100px;
	font-size: 20px;
}

.my-dropdown-container {
    position: absolute;
    top : 38px;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
